Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [9]:
'''
    The code creates a Pandas Series object.
    The numbers on the left-hand side are the index of each value in the Series, which by default starts at 0 and increases by 1 for each subsequent element. 
    The ‘dtype’ indicates the data type of the values in the Series, in this case, 64-bit integers.
'''
import pandas as pd
ds_int=pd.Series([1,2,3,4,5])
print(type(ds_int))
ds_int

<class 'pandas.core.series.Series'>

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [59]:
ds1=pd.Series({'col1': [1,2,3]})
ds1

col1    [1, 2, 3]
dtype: object

In [6]:
ds_str=pd.Series(["1","2","3","4","5"])
ds_str

0    1
1    2
2    3
3    4
4    5
dtype: object

 Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [7]:
dl=ds_int.tolist()
dl

[1, 2, 3, 4, 5]

In [8]:
type(dl)

list

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [10]:
ds1=pd.Series([2,3,4,5])
ds2=pd.Series([1,2,3,4])
ds=ds1+ds2
ds

0    3
1    5
2    7
3    9
dtype: int64

In [11]:
type(ds)

pandas.core.series.Series

In [12]:
ds1/ds2

0    2.000000
1    1.500000
2    1.333333
3    1.250000
dtype: float64

In [13]:
ds1-ds2

0    1
1    1
2    1
3    1
dtype: int64

In [14]:
ds1*ds2

0     2
1     6
2    12
3    20
dtype: int64

Write a Pandas program to compare the elements of the two Pandas Series.

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [19]:
ds1=pd.Series([2,4,5,6])
ds2=pd.Series([2,4,8,6])
ds1==ds2

0     True
1     True
2    False
3     True
dtype: bool

In [20]:
ds1>ds2

0    False
1    False
2    False
3    False
dtype: bool

In [21]:
ds1<ds2

0    False
1    False
2     True
3    False
dtype: bool

In [22]:
ds1>=ds2

0     True
1     True
2    False
3     True
dtype: bool

In [23]:
ds1<=ds2

0    True
1    True
2    True
3    True
dtype: bool

Write a Pandas program to convert a dictionary to a Pandas series.

In [27]:
ds1={'a':1, 'b':2, 'c':3}
new_series=pd.Series(ds1) # This line creates a new Pandas Series object 'new_series' from the dictionary 'd1' using the pd.Series() constructor. The resulting Series object will have the same keys as the dictionary and the corresponding values as its elements.
new_series

a    1
b    2
c    3
dtype: int64

Write a Pandas program to convert a NumPy array to a Pandas series.

In [28]:
import numpy as np
np_array=np.array([1,2,3,4])
new_series=pd.Series(np_array) # This line creates a new Pandas Series object 'new_series' from the NumPy array using the pd.Series() constructor. The resulting Series object will have the same values as the NumPy array, and the default index will be assigned to each element starting from 0 and increasing by 1 for each subsequent element.
new_series

0    1
1    2
2    3
3    4
dtype: int64

Write a Pandas program to change the data type of given a column or a Series.

Sample Series:

Original Data Series:

0 100

1 200

2 python

3 300.12

4 400

dtype: object

Change the said data type to numeric:

0 100.00

1 200.00

2 NaN

3 300.12

4 400.00

dtype: float64

s2 = pd.to_numeric(s1, errors='coerce'): This line applies the pd.to_numeric() function to the Series object 's1' with the 'errors' parameter set to 'coerce'. This function attempts to convert each value in the Series object to a numeric type (e.g., integer or float). If a value cannot be converted, it will be replaced with a NaN (not a number) value.

value in the Series object to a numeric type (e.g., integer or float). If a value cannot be converted, it will be replaced with a NaN (not a number) value.

The resulting Series object 's2' will have the same index as the original Series object 's1' but with numeric values where possible and NaN values where not possible.

In [32]:
ds1=pd.Series(['100','200','python','30.12'])
ds1=pd.to_numeric(ds1, errors='coerce')
ds1

0    100.00
1    200.00
2       NaN
3     30.12
dtype: float64

In [33]:
ds1=pd.to_numeric(ds1, errors='ignore')
ds1

0    100.00
1    200.00
2       NaN
3     30.12
dtype: float64

Write a Pandas program to convert the first column of a DataFrame as a Series.

In [34]:
data={'col1':[1,2,3], 'col2':[2,3,4], 'col3':[1,2,3]}
df=pd.DataFrame(data=data)
df

   col1  col2  col3
0     1     2     1
1     2     3     2
2     3     4     3

In [36]:
df.iloc[:,0]

0    1
1    2
2    3
Name: col1, dtype: int64

In [37]:
df.iloc[0]

col1    1
col2    2
col3    1
Name: 0, dtype: int64

In [40]:
df.iloc[:3]

   col1  col2  col3
0     1     2     1
1     2     3     2
2     3     4     3

In [41]:
df.iloc[:,1]

0    2
1    3
2    4
Name: col2, dtype: int64

In [49]:
s1=df.iloc[:2,:2]

In [50]:
type(s1)

pandas.core.frame.DataFrame

 Write a Pandas program to convert a given Series to an array.

In [51]:
s1=pd.Series(['1','2','3', 'p', '2.3'])
s1

0      1
1      2
2      3
3      p
4    2.3
dtype: object

In [53]:
a=s1.values
a

array(['1', '2', '3', 'p', '2.3'], dtype=object)

In [54]:
type(a)

numpy.ndarray

In [56]:
a=np.array(s1.values.tolist())
a

array(['1', '2', '3', 'p', '2.3'], dtype='<U3')

In [57]:
s1.values.tolist()

['1', '2', '3', 'p', '2.3']

Write a Pandas program to convert Series of lists to one Series.

In [61]:
s=pd.Series([[1,2], [2,3,4,5], [3]])
s

0          [1, 2]
1    [2, 3, 4, 5]
2             [3]
dtype: object

s.apply(pd.Series): Applies the pd.Series() constructor to each element of the Pandas Series object 's' using the .apply() method. This converts each list element into a separate Pandas Series object with one row per element.

In [63]:
s1=s.apply(pd.Series)
s1

     0    1    2    3
0  1.0  2.0  NaN  NaN
1  2.0  3.0  4.0  5.0
2  3.0  NaN  NaN  NaN

In [64]:
s1=s1.stack()
s1

0  0    1.0
   1    2.0
1  0    2.0
   1    3.0
   2    4.0
   3    5.0
2  0    3.0
dtype: float64

In [66]:
s1=s1.reset_index(drop=True)
s1

0    1.0
1    2.0
2    2.0
3    3.0
4    4.0
5    5.0
6    3.0
dtype: float64

Write a Pandas program to add some data to an existing Series.

In [68]:
s1=pd.Series(['1', '2', '3', '4'])
s1

0    1
1    2
2    3
3    4
dtype: object

In [69]:
s2=pd.concat([s1, pd.Series([2, 3])], ignore_index=True)
s2

0    1
1    2
2    3
3    4
4    2
5    3
dtype: object

In [70]:
s2=pd.concat([s1, pd.Series([2, 3])], ignore_index=False)
s2

0    1
1    2
2    3
3    4
0    2
1    3
dtype: object

Write a Pandas program to create a subset of a given series based on value and condition.

In [71]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [72]:
new_s=s[s<5]
new_s

0    0
1    1
2    2
3    3
4    4
dtype: int64

Write a Pandas program to change the order of index of a given series.

In [83]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [85]:
s=s.reset_index(drop=True)
s

  index  0
0     A  1
1     B  2
2     C  3
3     D  4
4     E  5

Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [87]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [88]:
s.mean()

4.818181818181818

In [89]:
s.std()

2.522624895547565

Write a Pandas program to get the items of a given series not present in another given series.

In [90]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])

In [91]:
sr1[~sr1.isin(sr2)]

0    1
2    3
4    5
dtype: int64

Write a Pandas program to get the items which are not common of two given series.

In [92]:
sr11=pd.Series(np.union1d(sr1, sr2))
sr22=pd.Series(np.intersect1d(sr1, sr2))
sr11[~sr11.isin(sr22)]

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [94]:
~sr11.isin(sr22)

0     True
1    False
2     True
3    False
4     True
5     True
6     True
7     True
dtype: bool

 Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [95]:
num_state=np.random.RandomState(100)
num_state

RandomState(MT19937) at 0x128EABB40

In [100]:
num_series=pd.Series(num_state.normal(10,4,20))
num_series

0      7.822243
1      7.327313
2     10.029258
3      7.548245
4     15.198992
5      3.067618
6      6.066760
7     11.430031
8      3.545686
9     15.882855
10     5.247930
11     7.801015
12     6.239815
13     6.688271
14    10.435454
15    12.031238
16     6.551091
17    14.997879
18     9.681555
19     6.441074
dtype: float64

In [101]:
np.percentile(num_series, q=[0,25,50,100])

array([ 3.06761751,  6.39075939,  7.67463014, 15.88285547])

In the above exercise -

num_state = np.random.RandomState(100): This code creates a NumPy RandomState object 'num_state' with a seed value of 100.

num_series = pd.Series(num_state.normal(10, 4, 20)): This code creates a Pandas Series object 'num_series' containing 20 random values generated from a normal distribution with a mean of 10 and a standard deviation of 4 using the num_state.normal() method.

result = np.percentile(num_series, q=[0, 25, 50, 75, 100]): This code calculates the percentiles of the values in the Pandas Series object 'num_series' using the np.percentile() function. The 'q' parameter specifies the percentiles to calculate, with the values [0, 25, 50, 75, 100] indicating the minimum value, the lower quartile (25th percentile), the median (50th percentile), the upper quartile (75th percentile), and the maximum value, respectively.

Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [106]:
num_series=pd.Series(np.take(a=list('0123456789'), indices=np.random.randint(10, size=40)))
num_series

0     6
1     4
2     8
3     1
4     4
5     4
6     1
7     0
8     8
9     2
10    5
11    2
12    8
13    0
14    6
15    7
16    6
17    0
18    4
19    4
20    2
21    2
22    0
23    7
24    3
25    7
26    0
27    9
28    0
29    9
30    8
31    3
32    8
33    5
34    9
35    0
36    5
37    4
38    9
39    7
dtype: object

In [108]:
num_series.value_counts()

0    7
4    6
8    5
2    4
7    4
9    4
6    3
5    3
1    2
3    2
Name: count, dtype: int64

In [109]:
num_series.value_counts

<bound method IndexOpsMixin.value_counts of 0     6
1     4
2     8
3     1
4     4
5     4
6     1
7     0
8     8
9     2
10    5
11    2
12    8
13    0
14    6
15    7
16    6
17    0
18    4
19    4
20    2
21    2
22    0
23    7
24    3
25    7
26    0
27    9
28    0
29    9
30    8
31    3
32    8
33    5
34    9
35    0
36    5
37    4
38    9
39    7
dtype: object>

result = num_series.value_counts(): This line creates a new Pandas Series object 'result' by counting the frequency of each unique character in the original Pandas Series object 'num_series' using the .value_counts() method. The resulting Series object 'result' will have the unique characters from the original Series object 'num_series' as its index and the count of each unique character as its value.

Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [114]:
num_series=pd.Series(np.random.randint(1,5,[15]))
num_series

0     1
1     4
2     3
3     1
4     1
5     4
6     2
7     1
8     3
9     1
10    3
11    1
12    3
13    3
14    2
dtype: int64

In [115]:
num_series.value_counts()

1    6
3    5
4    2
2    2
Name: count, dtype: int64

In [119]:
result=num_series[~num_series.isin(num_series.value_counts().index[:3])]='other'
result

'other'

Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [120]:
num_series=pd.Series(np.random.randint(1,10,9))
num_series

0    8
1    8
2    9
3    2
4    2
5    7
6    7
7    4
8    9
dtype: int64

In [122]:
np.where(num_series%8==0)

(array([0, 1]),)

Write a Pandas program to extract items at given positions of a given series.

In [123]:
num_series=pd.Series(list('23456789765211245678900875433'))
element_pos=[0,2,4,6,7,14]
num_series.take(element_pos)

0     2
2     4
4     6
6     8
7     9
14    2
dtype: object

Write a Pandas program to get the positions of items of a given series in another given series.

In [124]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])

In [125]:
pd.Index(series1)

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [129]:
pd.Index(series1).get_loc(1)

0

In [130]:
result=[pd.Index(series1).get_loc(i) for i in series2]
result

[0, 2, 4, 6, 9]

Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [133]:
series1[result].reset_index(drop=True)

0     1
1     3
2     5
3     7
4    10
dtype: int64

Write a Pandas program to calculate the number of characters in each word in a given series.

In [134]:
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])

In [135]:
series1.map(lambda x: len(x))

0    3
1    6
2    4
3    2
dtype: int64

In [140]:
pd.concat([series1, series1.map(lambda x: len(x))], axis=1)

        0  1
0     Php  3
1  Python  6
2    Java  4
3      C#  2

Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [144]:
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])
series1

0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

In [149]:
series1.diff()

0    NaN
1    2.0
2    2.0
3    3.0
4    2.0
5    1.0
6    4.0
dtype: float64

In [146]:
series1.diff().tolist()

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]

In [148]:
series1.diff().diff()

0    NaN
1    NaN
2    0.0
3    1.0
4   -1.0
5   -1.0
6    3.0
dtype: float64

Write a Pandas program to convert a series of date strings to a timeseries.

In [169]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
date_series

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

In [170]:
pd.to_datetime(date_series, format="mixed")

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [172]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
date_series

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

In [177]:
from dateutil.parser import parse
date_series=date_series.map(lambda x: parse(x))

In [182]:
date_series.dt.day.tolist()

[1, 2, 7, 6, 12, 6]

In [183]:
date_series.dt.day_of_week.tolist()

[3, 6, 2, 1, 1, 5]

In [184]:
date_series.dt.weekday.tolist()

[3, 6, 2, 1, 1, 5]

Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [186]:
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
date_series

0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

In [188]:
date_series.map(lambda x: parse('11'+x))

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [189]:
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
color_series

0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

In [191]:
from collections import Counter
color_series[color_series.map(lambda c: sum([Counter(c.lower()).get(i,0) for i in list('aeiou')])>=2)]

1     Green
2    Orange
4    Yellow
5     White
dtype: object

Write a Pandas program to compute the Euclidean distance between two given series.

In [192]:
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

In [193]:
np.linalg.norm(x-y)

16.492422502470642

Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

temp = np.diff(np.sign(np.diff(nums))): This code first computes the second order difference of the 'nums' series using the np.diff() and np.sign() functions from the NumPy library. The diff() function computes the difference between consecutive elements in the 'nums' series, while the sign() function returns the sign of each element in the resulting difference series. The second order difference is obtained by computing the difference between consecutive elements of the resulting sign series.

result = np.where(temp == -2)[0] + 1: This code applies the np.where() function to find the positions in the second order difference series where the value is equal to -2. The where() function returns a tuple containing the indices where this condition is true, which are then added to 1 (since the diff() function reduces the length of the series by 1).

In [195]:
nums = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
temp = np.diff(np.sign(np.diff(nums)))
result = np.where(temp == -2)[0] + 1
print(result)

[1 4 8]

Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

In [196]:
str1 = 'abc def abcdef icd'
s1=pd.Series(list(str1))
s1

0     a
1     b
2     c
3
4     d
5     e
6     f
7
8     a
9     b
10    c
11    d
12    e
13    f
14
15    i
16    c
17    d
dtype: object

In [197]:
freq=s1.value_counts()
freq

c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
Name: count, dtype: int64

In [209]:
s1.value_counts().dropna()

c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
Name: count, dtype: int64

In [204]:
least_freq=s1.value_counts().dropna().index[-1]

In [205]:
result="".join(s1.replace(' ', least_freq))
result

'abcidefiabcdefiicd'

Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [210]:
result = pd.Series(pd.date_range('2024-01-01', periods=52, freq='W-SUN'))
result

0    2024-01-07
1    2024-01-14
2    2024-01-21
3    2024-01-28
4    2024-02-04
5    2024-02-11
6    2024-02-18
7    2024-02-25
8    2024-03-03
9    2024-03-10
10   2024-03-17
11   2024-03-24
12   2024-03-31
13   2024-04-07
14   2024-04-14
15   2024-04-21
16   2024-04-28
17   2024-05-05
18   2024-05-12
19   2024-05-19
20   2024-05-26
21   2024-06-02
22   2024-06-09
23   2024-06-16
24   2024-06-23
25   2024-06-30
26   2024-07-07
27   2024-07-14
28   2024-07-21
29   2024-07-28
30   2024-08-04
31   2024-08-11
32   2024-08-18
33   2024-08-25
34   2024-09-01
35   2024-09-08
36   2024-09-15
37   2024-09-22
38   2024-09-29
39   2024-10-06
40   2024-10-13
41   2024-10-20
42   2024-10-27
43   2024-11-03
44   2024-11-10
45   2024-11-17
46   2024-11-24
47   2024-12-01
48   2024-12-08
49   2024-12-15
50   2024-12-22
51   2024-12-29
dtype: datetime64[ns]

The above code creates a Pandas Series object 'result' containing 52 elements, where each element represents a Sunday from a range of dates starting from '2020-01-01' and extending to 52 weeks (i.e., one year) in the future. The dates are generated using the pd.date_range() function, which creates a range of dates with a specified frequency.

Here, the frequency is set to 'W-SUN', which indicates weekly frequency on Sundays. Therefore, the resu

 Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

In [211]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7])

In [212]:
list('ABCDEFGHIJKLMNOP')

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P']

In [214]:
dict(zip(list('ABCDEFGHIJKLMNOP'), np.arange(14)))

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9,
 'K': 10,
 'L': 11,
 'M': 12,
 'N': 13}

In [216]:
num_series=pd.Series(data=dict(zip(list('ABCDEFGHIJKLMNOP'), np.arange(14))))
num_series

A     0
B     1
C     2
D     3
E     4
F     5
G     6
H     7
I     8
J     9
K    10
L    11
M    12
N    13
dtype: int64

df = num_ser.to_frame().reset_index(): This code converts the Pandas Series 'num_ser' to a Pandas DataFrame using the to_frame() method, which returns a DataFrame with the Series values as a single column and the Series index as the index of the DataFrame.

In [229]:
df=num_series.to_frame().reset_index()
df.head()

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

Write a Pandas program to stack two given series vertically and horizontally.

In [231]:
series1 = pd.Series(range(10))
series2 = pd.Series(list('pqrstuvwxy'))

In [233]:
series = pd.concat([series1, series2], axis=1)
series

   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

In [234]:
series = pd.concat([series1, series2], axis=0)
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

Write a Pandas program to check the equality of two given series.

In [235]:
nums1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])

In [236]:
nums1==nums2

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [237]:
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])

In [238]:
nums.idxmax()

4

In [239]:
nums.idxmin()

9

Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

In [241]:
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
df_data

      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

In [242]:
sr_data = pd.Series([68, 75, 86, 80, None]) 
sr_data

0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

In [247]:
df_data.ne(sr_data, axis = 0)

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True